{
    "clientId": "",
    "clientSecret": "",
    "scope": "identify",
    "token"  : "",
    "prefix" : "!",
    "callbackHost": "http://localhost:8080",
    "channel": {
       "event": "",
       "notify": "",
       "poll": ""
    }
}
